/*-------------------------------------
 Variables
-------------------------------------*/
:root {
  --primaryColor: #2B61EF;
  --secondaryColor: #2278E8;
  --tertiaryColor: #00D1CE;
  --white: #ffffff;
}
/*-------------------------------------
 Default
-------------------------------------*/
* {
  box-sizing: border-box;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}

/*-------------------------------------
 Global
-------------------------------------*/
.container {
  max-width: 1024px;
  margin: 0 auto;
  clear: both;
  position: relative;
  z-index: 10;
}
.container::after {
  content: "";
  display: block;
  clear: both;
}
.block-section {
  padding: 60px 40px;
  position: relative;
}
.container__flex {
  display: flex;
  justify-content: space-between;
}
.flex-center {
  align-items: center;
}
.site-btn {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 6px;
  border: 0 none;
  background-color: var(--primaryColor);
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  padding: 15px 45px;
  cursor: pointer;
  position: relative;
  z-index: 999;
}
.site-btn::after {
  content: "";
  border: 2px solid transparent;
  position: absolute;
  width: 97%;
  left: 0;
  height: 90%;
  border-radius: 6px;
  top: 0;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.site-btn:hover::after {
  content: "";
  border: 2px solid var(--primaryColor);
  left: 9px;
  top: 9px;
}
.site-btn__light {
  background-color: #ffffff;
  color: var(--primaryColor);
}
.site-btn__light:hover {
  color: #000000;
}
.site-btn__light:hover::after {
  border: 2px solid #ffffff;
}
.section__heading {
  color: var(--primaryColor);
  font-family: 'Titillium Web', sans-serif;
  font-size: 32px;
  font-weight: 600;
  margin: 0 0 40px;
}
.text-center {
  text-align: center;
}
.text-white {
  color: var(--white);
}
.secondary-color {
  color: var(--secondaryColor);
}
.tertiary-color {
  color: var(--tertiaryColor);
}
.gradient-text {
  background: rgb(3,203,208);
  background: linear-gradient(95deg, rgba(3,203,208,1) 0%, rgba(43,97,239,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*-------------------------------------
 Header
-------------------------------------*/
.header {
  padding: 25px;
}
.header .container__flex {
  align-items: center;
}

/*-------------------------
 Header - Navigation
-------------------------*/
.header__navigation-menu-toggle {
  border: 0 none;
  background: transparent;
  padding: 0;
  margin: 0;
  display: block;
  font-size: 25px;
  display: none;
}
.header__navigation-menu-close {
  display: none;
}
.header__navigation-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.header__navigation-menu-item {
  margin: 0 30px;
}
.header__navigation-menu-item:first-child {
  margin-left: 0;
}
.header__navigation-menu-item:last-child {
  margin-right: 0;
  margin-left: 130px;
}
.header__navigation-menu-item:last-child a {
  border: 1px solid #080B30;
  border-radius: 6px;
  padding-left: 25px;
  padding-right: 25px;
}
.header__navigation-menu-item a {
  color: #080B30;
  font-size: 16px;
  font-weight: 500;
  display: block;
  padding: 10px 0;
  line-height: 1.2em;
}

/*-------------------------------------
 Footer
-------------------------------------*/
.footer {
  background: transparent url("../images/footer-bg.png") no-repeat scroll center center / cover;
  padding: 60px 25px 0;
}
.footer__widgets {
  padding-bottom: 50px;
}
.footer__widget {
  width: 100%;
  padding: 0 40px;
}
.footer__widget-1 {
  max-width: 280px;
  padding-left: 0;
}
.footer__widget-2 {
  max-width: 330px;
}
.footer__widget-3 {
  max-width: 240px;
}
.footer__widget-4 {
  max-width: 160px;
  padding-right: 0;
}
.footer__company-detail-item {
  margin-bottom: 25px;
}
.footer__company-detail-item:last-child {
  margin-bottom: 0;
}
.footer__company-detail-item h5 {
  color: #080B30;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 5px;
}
.footer__widget-title {
  color: #080B30;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 10px;
  text-transform: uppercase;
}
.footer__menu-links,
.footer__social-links {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__menu-link-item,
.footer__social-link-item {
  margin-bottom: 5px;
}
.footer__menu-link-item:last-child
.footer__social-link-item:last-child {
  margin-bottom: 0;
}
.footer__menu-link-item a {
  color: #080B30;
  font-size: 12px;
  display: block;
  text-transform: uppercase;
}
.footer__social-link-item a {
  color: #080B30;
  display: block;
}
.footer__bottom .container {
  border-top: 1px solid #080B30;
  padding: 20px 0;
}
.footer__copyright {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
}

/*-------------------------------------
 Pages
-------------------------------------*/
/*-------------------------
 Home
-------------------------*/
#banner {
  background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(113, 149, 244, 0.100506) 67%, rgba(43, 97, 239, 0.15) 95.12%);
  overflow: hidden;
}
.banner__overlay {
  background: radial-gradient(48.92% 50% at 50% 50%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40.45%, #F8FAFF 95.12%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.banner__inner {
  position: relative;
  z-index: 9999;
}
.banner-section .container {
  position: relative;
  padding: 150px 0;
}
.banner__heading {
  color: #080B30;
  font-size: 40px;
  font-family: 'Titillium Web', sans-serif;
  margin: 0 0 10px;
  font-weight: 600;
  line-height: 1.2em;
  text-shadow: 0 3px 4px rgb(0 0 0 / 30%);
}
.banner__subheading {
  color: #080B30;
  font-size: 32px;
  margin: 0 0 15px;
  font-weight: 500;
}
.banner__text {
  color: #6E6E6E;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 25px;
  line-height: 1.5em;
}
.banner__img {
  transform: translate3d(-80px, 40px, 0);
  max-width: 524px;
  position: absolute;
  top: 0;
  right: 0;
}
.about-us-section .container {
  position: relative;
  padding: 100px 0;
}
.about-us__img {
  position: absolute;
  top: 0;
  left: -150px;
}
.about-us__content {
  float: right;
  max-width: 620px;
}
.about-us__small-text {
  display: block;
  color: var(--primaryColor);
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}
.about-us__heading {
  color: #080B30;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2em;
  text-transform: uppercase;
}
.about-us__text {
  color: #080B30;
  font-size: 14px;
  line-height: 1.7em;
  margin-bottom: 30px;
}
.services-section {
  background-color: #F7FAFD;
}
.services-offer__box-item{
  background: #FFFFFF;
  box-shadow: 0px 2px 21px -6px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 30px;
}
.services-offer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.services-offer__box-item {
  width: 32%;
}
.service-offer__icon {
  min-height: 68px;
  margin-bottom: 20px;
}
.service-offer__title {
  color: var(--primaryColor);
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2em;
  margin: 0 0 20px;
  min-height: 50px;
}
.service-offer__text {
  color: #6E6E6E;
  font-size: 16px;
}
.cta-section {
  background: transparent url("../images/cta-bg.png") no-repeat scroll center center / cover;
}
.cta__left {
  width: 100%;
  max-width: 360px;
  margin-right: 50px;
}
.cta__right {
  width: 100%;
  max-width: 550px;
}
.cta__heading {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2em;
}
.cta__text {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 30px;
}

/*-------------------------
 Our Company
-------------------------*/
.company-section::after {
  content: "";
  background: transparent url("../images/banner-our-company-img.png") no-repeat scroll center right / cover;
  width: 100%;
  max-width: 671px;
  height: 614px;
  position: absolute;
  top: 0;
  right: -860px;
  left: 0;
  margin: 0 auto;
}
.company-section {
  overflow: hidden;
}
.banner-company__content {
  max-width: 540px;
  padding: 70px 0;
}
.banner-company__heading {
  color: #080B30;
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 30px;
  text-transform: uppercase;
  font-family: 'Plus Jakarta Sans', sans-serif;
  line-height: 1.5em;
}
.banner-company__text {
  color: #080B30;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6em;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.cube-section::after {
  content: "";
  background-color: #F7FAFD;
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.cube-section .container {
  align-items: center;
}
.cube__left {
  width: 50%;
}
.cube__right {
  width: 50%;
  padding: 80px 0 80px 80px;
}
.cube__text {
  color: #080B30;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6em;
  margin-bottom: 30px;
}
.core-values__boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.core-values__box-item {
  background-color: #F7FAFD;
  padding: 20px;
  width: 32%;
}
.core-values__icon {
  min-height: 70px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.core-values__title {
  color: #2B61EF;
  font-family: 'Titillium Web', sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 20px;
  text-align: center;
}
.core-values__text {
  color: #638AF0;
  text-align: center;
  font-size: 16px;
  line-height: 1.6em;
}
.vision-mission-section {
  overflow: hidden;
}
.vision-mission-section .container__flex {
  gap: 20px;
}
.vision-mission__left,
.vision-mission__right {
  width: 50%;
}
.vm-box {
  border-radius: 15px;
  padding: 40px;
  position: relative;
}
.vision__box {
  background: rgb(102,132,249);
  background: linear-gradient(180deg, rgba(102,132,249,1) 0%, rgba(180,118,251,1) 100%);
  margin-top: 190px;
}
.vision__box::before {
  content: "";
  background: rgb(102,132,249);
  background: linear-gradient(180deg, rgba(102,132,249,1) 0%, rgba(180,118,251,1) 100%);
  position: absolute;
  width: 100%;
  height: 370px;
  border-radius: 15px;
  z-index: -1;
  left: -50px;
  opacity: .2;
  top: -52px;
  max-width: 460px;
}
.mission__box {
  background: rgb(246,158,161);
  background: linear-gradient(180deg, rgba(246,158,161,1) 0%, rgba(147,92,251,1) 100%);
}
.mission__box::before {
  content: "";
  background: rgb(246,158,161);
  background: linear-gradient(180deg, rgba(246,158,161,1) 0%, rgba(147,92,251,1) 100%);
  position: absolute;
  width: 100%;
  height: 370px;
  border-radius: 15px;
  z-index: -1;
  right: -50px;
  opacity: .2;
  bottom: -52px;
  max-width: 460px;
}
.vm__heading {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 70px;
  text-transform: uppercase;
  line-height: 1.2em;
}
.vm__text {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 22px;
  min-height: 210px;
}

/*-------------------------
 Contact Us
-------------------------*/
.contact-us__form {
  padding: 40px 25px;
  position: relative;
  overflow: hidden;
}
.contact-us__left {
  width: 50%;
  padding-right: 30px;
}
.contact-us__right {
  width: 50%;
  padding: 60px;
  display: flex;
  align-items: flex-end;
}
.contact-us__form::after {
  content: "";
  background: transparent url("../images/contact-us-bg.jpg") no-repeat scroll center right / cover;
  width: 100%;
  max-width: 746px;
  height: 734px;
  position: absolute;
  top: 0;
  right: -750px;
  left: 0;
  margin: 0 auto;
}
.contact-us__form-wrapper {
  max-width: 360px;
}
.contact-form__group {
  margin-bottom: 30px;
}
.contact-form__field {
  width: 100%;
  background-color: #F7FAFD;
  border: 0 none;
  padding: 15px 20px;
}
.contact-form__field {
  width: 100%;
  background-color: #F7FAFD;
  border: 0 none;
  padding: 15px 20px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 14px;
}
.contact-form__textarea {
  width: 100%;
  background-color: #F7FAFD;
  border: 0 none;
  padding: 15px 20px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 14px;
  resize: none;
  height: 150px;
}
.contact-form__submit {
  width: 100%;
  background-color: var(--primaryColor);
  color: var(--white);
  border: 0 none;
  padding: 15px 20px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  max-width: 210px;
  float: right;
  border-radius: 6px;
  margin-bottom: 50px;
  cursor: pointer;
}
.contact-us__text {
  clear: both;
  display: block;
  color: #000000;
  font-size: 12px;
  font-weight: 300;
}
.find-us__text {
  color: var(--white);
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.find-us__email {
  color: var(--white);
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 16px;
}